
<!DOCTYPE html><html lang="en">
<head>
<meta charset="utf-8">
<meta name="robots" content="index, follow">
<meta name="keywords" content="Đồng Hồ Hai Múi Giờ, dong ho nam">
<meta name="description" content="Đồng Hồ Hai Múi Giờ ">
<meta name="author" content="OvHand">
<meta name="country" content="VN">
<meta name="web_author" content="nguyenloi85 ">
                <title>Đồng Hồ Hai Múi Giờ </title>                <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">        <link href="/css/ovhand.min.css" media="screen" rel="stylesheet" type="text/css">
<link href="/css/ovhand-theme.min.css" media="screen" rel="stylesheet" type="text/css">
<link href="/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css">
<link href="/css/style.css" media="screen" rel="stylesheet" type="text/css">
<link href="/css/jquery.fancybox.css" media="screen" rel="stylesheet" type="text/css">
<link href="/img/ico/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
<script type="text/javascript" src="/js/jquery.min.js"></script>
								    </head>
<body>
                <div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-lg-3 logo">
					<a href="/"><img
						src="/img/logo90.png" /></a>
				</div>
				<div class="col-md-9 col-sm-8 col-lg-9">
					<div class="pull-right">
						<ul class="nav nav-pills">
							<li class="active"><a href="#"><i
									class="glyphicon glyphicon-phone"></i>&nbsp;Hotline : 0909.524.879</a></li>
							<li><a
								href="/application/product/showcart"><i
									class="glyphicon glyphicon-shopping-cart"></i>&nbsp;Giỏ hàng</a></li>
                                                                <li><a href="/application/account/login"><i
									class="glyphicon glyphicon-log-in"></i>&nbsp;Đăng nhập</a></li>
							<li><a href="/application/account/register"><i
									class="glyphicon glyphicon-user"></i>&nbsp;Đăng ký</a></li>
                                                            </ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="navbar navbar-default background-orange">
				<!--                 <div class="navbar navbar-inverse"> -->
				<ul class="nav navbar-nav">
					<li class=""><a href="/"><i
							class="glyphicon glyphicon-home"></i>&nbsp;Trang chủ</a></li>
					<li><a
						href="/application/index/about">Giới
							thiệu</a></li>
					<li><a
						href="/application/news/list">Tin
							tức</a></li>
					<li class="dropdown"><a href="#">Dịch vụ <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a
								href="/application/service/write">Viết
									Kịch Bản</a></li>
							<li><a
								href="/application/service/marketing">Online
									Marketing</a></li>
							<li><a
								href="/application/service/pr">Viết
									Bài PR</a></li>
							<li><a
								href="/application/service/collaborator">Cộng
									tác viên đa năng</a></li>
						</ul></li>
					<li class="dropdown"><a href="#">Gian hàng<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a
								href="/application/product/list">Gian
									Hàng Thường</a></li>
							<li><a
								href="/application/product/countdown">Gian
									Hàng Đếm Ngược</a></li>
						</ul></li>
					<li><a href="/khuyen-mai.html">Khuyến mãi</a></li>
					<li><a
						href="/application/index/contact">Liên
							hệ</a></li>
				</ul>
				<div class="col-sm-3 col-md-3 col-lg-3 pull-right">
					<form class="navbar-form" role="search"
						action="/application/product/search">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Tìm kiếm"
								name="search" id="srch-term"
								value="">
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container">
                <link href="/css/jquery.fancybox.css" media="screen" rel="stylesheet" type="text/css"><div class="row">
    <div class="col-md-3 col-lg-3 col-sm-3">
        <div class="navbar navbar-default background-orange">
	<ul class="nav nav-stacked">
	   	           <li class="dropdown  dropdown-submenu">
	               <a href="/application/product/list/1--Dong_Ho.html">
	                   Đồng Hồ	               </a>
        			<ul class="dropdown-menu">
        			        				<li><a href="/application/product/list/2--Dong_Ho_Nam_.html">Nam </a></li>
        		            				<li><a href="/application/product/list/3--Dong_Ho_Nu__.html">Nữ   </a></li>
        		            			</ul>
        		</li>
	           	           	   	   	   	   	   	           <li>
    	           <a href="/application/product/list/8--Thoi_Trang.html">
    	               Thời Trang    	           </a>
    	       </li>
	           	           	   	   	           <li>
    	           <a href="/application/product/list/11--Qua_Tang.html">
    	               Qùa Tặng    	           </a>
    	       </li>
	           	           	   	   	           <li>
    	           <a href="/application/product/list/13--My_Pham.html">
    	               Mỹ Phẩm    	           </a>
    	       </li>
	           	           	   	   	           <li>
    	           <a href="/application/product/list/16--Hang_2nd.html">
    	               Hàng 2nd    	           </a>
    	       </li>
	           	           	   	   	</ul>
</div>
    </div>
    <div class="col-md-9 col-lg-9 col-sm-9">
        <div class="row">
            <div class="col-md-7 col-lg-7 col-sm-8 ">
                <div class="row">
                    <img class="text-center"
                        src="/img/product/1396755612_5340cc9cd1a0c.jpg"
                        height="300" />
                </div>
                <div class="row ">
                                            <a class="fancybox" rel="gallery1"
                           href="/img/product/1396755291_5340cb5be608a.jpg"
                           title="OvHand xin cảm ơn các bạn đã quan tâm đến sản phẩm và dịch vụ của chúng tôi">
                            <img src="/img/product/thumbnail/1396755291_5340cb5be608a.jpg" alt="" width="69" height="70"
                                 class="img-rounded" />
                        </a>
                                            <a class="fancybox" rel="gallery1"
                           href="/img/product/1396755291_5340cb5beb895.jpg"
                           title="OvHand xin cảm ơn các bạn đã quan tâm đến sản phẩm và dịch vụ của chúng tôi">
                            <img src="/img/product/thumbnail/1396755291_5340cb5beb895.jpg" alt="" width="69" height="70"
                                 class="img-rounded" />
                        </a>
                                            <a class="fancybox" rel="gallery1"
                           href="/img/product/1396755612_5340cc9cecd2d.jpg"
                           title="OvHand xin cảm ơn các bạn đã quan tâm đến sản phẩm và dịch vụ của chúng tôi">
                            <img src="/img/product/thumbnail/1396755612_5340cc9cecd2d.jpg" alt="" width="69" height="70"
                                 class="img-rounded" />
                        </a>
                                            <a class="fancybox" rel="gallery1"
                           href="/img/product/1396755613_5340cc9d00649.jpg"
                           title="OvHand xin cảm ơn các bạn đã quan tâm đến sản phẩm và dịch vụ của chúng tôi">
                            <img src="/img/product/thumbnail/1396755613_5340cc9d00649.jpg" alt="" width="69" height="70"
                                 class="img-rounded" />
                        </a>
                                    </div>
            </div>

            <div class="col-md-5 col-lg-5 col-sm-4 ">
                <form name="myform" id='myform' action="" method="post">
                    <div class="well">
                        <h1>Đồng Hồ Hai Múi Giờ </h1>
                        <div class="text-muted">
                            <span class="glyphicon glyphicon-eye-open"></span>Lượt xem : 43                            &nbsp;&nbsp;<span
                                class="glyphicon glyphicon-signal"></span>Số lượng : 1000
                        </div>
                        <h4>
                            <strong>Nhà sản xuất :</strong>  </h4>
                        <h4>
                            <strong>Mã hàng :</strong>  DHU07</h4>
                                                    <h4 class="text-muted">
                                <strike></strong>Giá gốc: 360.000 ₫</strike>
                            </h4>
                            <h4>
                                <strong>Giá bán:</strong> 179.000 ₫</h4>
                            <input type="hidden" name='price'
                                   value='179000' />
                                                       <p>
                            <strong></strong>
                        <p>
                        <div class="row">
                            <div class="col-md-4">Số lượng</div>
                            <div class="col-md-4">
                                <input class="form-control" type="text" name="quantity" placeholder="Số lượng cần mua"	value=1 />
                            </div>
                        </div>
                        <input type="hidden" name='product_id'
                               value='41' />
                        <div class="row voffset2">
                            <div class=" col-md-11 ">
                                <input class="btn btn-primary" id='quick-buy' name="quick-buy" type="submit" value='Mua ngay' />
                                <input type="submit" value="Cập nhật giỏ hàng" class="btn btn-warning" name='update-cart'/>
                            </div>
                        </div>
                        <div class="text-muted">
                            <small>Chú ý : Bạn phải <a
                                    href="/application/account/login">đăng
                                    nhập</a> để thực hiện chức năng này. Chưa có tài khoản, <a
                                    href="">đăng
                                    ký tại đây</a></small>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    <!--</div>-->

    <div class="row voffset2">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <p>&nbsp;</p>

<p><span style="color:#8B4513"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:18px">Hiện nay tr&ecirc;n thị trường Việt mẫu m&atilde; của đồng hồ rất đa dạng, từ những mẫu thiết kế nam t&iacute;nh đến những kiểu d&aacute;ng thanh lịch hay sang trọng qu&yacute; ph&aacute;i. Tuy nhi&ecirc;n, l&agrave;m thế n&agrave;o để chọn cho m&igrave;nh một kiểu đồng hồ gi&uacute;p tạo n&ecirc;n vẻ đẹp thanh lịch, hợp với phong c&aacute;ch, c&aacute; t&iacute;nh v&agrave; gi&aacute; cả phải chăng l&agrave; điều quan t&acirc;m của đấng m&agrave;y r&acirc;u.</span></span></span></p>

<p><span style="color:#8B4513"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:18px">Đồng Hồ Hai M&uacute;i Giờ Thời Trang kh&ocirc;ng chỉ l&agrave; m&oacute;n đồ trang sức l&agrave;m điểm nhấn cho cổ tay m&agrave; c&ograve;n gi&uacute;p cho ph&aacute;i nam l&agrave;m việc đ&uacute;ng giờ, năng động v&agrave; chuy&ecirc;n nghiệp hơn trong mọi hoạt động cũng như c&ocirc;ng việc, học tập.</span></span></span></p>

<p><span style="color:#8B4513"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:18px">Ch&iacute;nh v&igrave; vậy n&ecirc;n bất cứ bạn l&agrave; ai, học sinh, sinh vi&ecirc;n hay giới văn ph&ograve;ng, c&ocirc;ng sở n&agrave;o cũng cần sắm cho m&igrave;nh một chiếc đồng hồ đeo tay thật đẹp v&agrave; tiện lợi. Đồng Hồ Hai M&uacute;i Giờ Thời Trang l&agrave; m&oacute;n đồ trang sức vừa tạo cho người đeo phong c&aacute;ch thời trang năng động, hiện đại vừa gi&uacute;p tạo n&ecirc;n vẻ đẹp thanh lịch, c&aacute; t&iacute;nh đồng thời c&ograve;n gi&uacute;p bạn đạt được hiệu quả cao trong c&ocirc;ng việc.</span></span></span></p>

<p><span style="color:#8B4513"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:18px">Đồng Hồ Hai M&uacute;i Giờ Thời Trang được l&agrave;m bằng chất liệu kim loại kh&ocirc;ng gỉ, nhựa dẻo cao cấp. T&iacute;nh năng c&oacute; 2 n&uacute;t điều chỉnh ri&ecirc;ng biệt, c&oacute; thể xem 2 m&uacute;i giờ kh&aacute;c nhau, đồng hồ thiết kế mặt trắng sang trọng, d&acirc;y đeo m&agrave;u đen.</span></span></span></p>

<p><span style="color:#8B4513"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:18px">Đồng Hồ Hai M&uacute;i Giờ Thời Trang đảm bảo chất lượng cũng như xu hướng thời trang hiện nay, ph&ugrave; hợp với mọi đối tượng.</span></span></span></p>

<p><span style="color:#ff3366"><span style="font-family:comic sans ms,cursive"><span style="font-size:18px"><strong>H&atilde;y contact 0909.524.879 để được tư vấn v&agrave; Giao h&agrave;ng tận nơi tr&ecirc;n to&agrave;n quốc. </strong></span></span></span></p>
        </div>
    </div>
    <div class="row voffset2 ">
        <hr />
        <h3>Đánh giá bình luận</h3>
        <div class="col-md-12 col-lg-12 col-sm-12 ">
            <div class="fb-comments thumbnail"
                 data-href="http://ovhand.com/application/product/detail/41-"
                 data-width="835" data-numposts="5" data-colorscheme="light"></div>
        </div>
    </div>
</div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
            return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/js/product.js"></script>                
<!--                 footer -->
			<!--footer info-->
			<div class="clearfix visible-xs"></div>
			<div class="well voffset2">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6">
						<h3>OvHand là gì?</h3>
						<p class="text-justify text-muted">Chúng tôi chuyên cung cấp các
							sản phẩm, dịch vụ theo tiêu chí tiện lợi, thiết thực và giá cả
							tốt nhất cho quý khách hàng. Với OvHand, mỗi khách hàng là một
							người bạn thâm giao.</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 ovhand-extra-2">
						<h3>Hướng dẫn</h3>
						<ul class="list-unstyled ">
							<li><a
								href="/application/guide/buy">Hướng
									dẫn mua hàng</a></li>
							<li><a
								href="/application/guide/pay">Hướng
									dẫn thanh toán</a></li>
							<li><a
								href="/application/guide/return">Phương
									thức đổi, trả</a></li>
							<li><a
								href="/application/guide/support">Hỗ
									trợ khách hàng</a></li>
							<li>
								<a href="/application/guide/maintain">
									Chính sách bảo hành
								</a>
							</li>
							<li>
								<a href="/application/guide/payback">
									Chính sách đổi/trả hàng và hoàn tiền
								</a>
							</li>
							<li>
								<a href="/application/guide/security">
									Chính sách bảo mật thông tin 
								</a>
							</li>
							<li>
								<a href="/application/guide/owner">
									Chủ sở hữu website 
								</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 ovhand-extra-3">
						<h3>Liên lạc với OvHand</h3>
						<ul class="list-unstyled">
							<li><span class="glyphicon glyphicon-envelope"></span>&nbsp;contact@ovhand.com</li>
							<li><span class="glyphicon glyphicon-phone"></span>&nbsp;0909.524.879</li>
							<li><span class="glyphicon glyphicon-info-sign"></span>&nbsp;120/86A/26 Thích Quảng Đức, Phường 5, Q. Phú Nhuận, TP.HCM</li>
						</ul>

					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
						<h3>Hỗ trợ trực tuyến</h3>
						<ul class="list-unstyled">
							<li><a href="skype:danhvvx?chat"> <img
									src="/img/chatbutton_16px.png" />
							</a> <a href="ymsgr:sendim?danhvvx"
								style="text-decoration: none"> <img border=0
									src="http://mail.opi.yahoo.com/online?u=danhvvx&m=g&t=1">
							</a></li>
						</ul>
						<h3>Facebook</h3>
                        <a href="https://www.facebook.com/ovhand" data-toggle="tooltip" data-placement="top" title="OvHand Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
				</div>
			</div>
		</div>
		<!--container-->
	</div>
	<!--content-->


	<div id="footer">
		<div class="container">
			<p class="text-muted text-center">
				&copy;2014 bản quyền thuộc về Ovhand. Website đã được làm bởi <a
					href='mailto:nguyenloi85@gmail.com'>nguyenloi85</a>
			</p>
		</div>
	</div>
        <!--[if lt IE 9]><script type="text/javascript" src="/js/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script type="text/javascript" src="/js/respond.min.js"></script><![endif]-->
<script type="text/javascript" src="/js/holder.js"></script>
<script type="text/javascript" src="/js/ovhand.min.js"></script>
<script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/js/product.js"></script>                <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-50129437-1', 'ovhand.com');
            ga('send', 'pageview');
        </script>
</body>
</html>
