
<!DOCTYPE html><html lang="en">
<head>
<meta charset="utf-8">
<meta name="robots" content="index, follow">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="OvHand">
<meta name="country" content="VN">
<meta name="web_author" content="nguyenloi85 ">
                <title>OvHand  kết nối từ đôi tay</title>                <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">        <link href="/css/ovhand.min.css" media="screen" rel="stylesheet" type="text/css">
<link href="/css/ovhand-theme.min.css" media="screen" rel="stylesheet" type="text/css">
<link href="/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css">
<link href="/css/style.css" media="screen" rel="stylesheet" type="text/css">
<link href="/img/ico/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
<script type="text/javascript" src="/js/jquery.min.js"></script>
								    </head>
<body>
                <div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-lg-3 logo">
					<a href="/"><img
						src="/img/logo90.png" /></a>
				</div>
				<div class="col-md-9 col-sm-8 col-lg-9">
					<div class="pull-right">
						<ul class="nav nav-pills">
							<li class="active"><a href="#"><i
									class="glyphicon glyphicon-phone"></i>&nbsp;Hotline : 0909.524.879</a></li>
							<li><a
								href="/application/product/showcart"><i
									class="glyphicon glyphicon-shopping-cart"></i>&nbsp;Giỏ hàng</a></li>
                                                                <li><a
								href="/application/account/profile/16"><i
									class="glyphicon glyphicon-book"></i>&nbsp;Hồ sơ</a></li>
							<li><a href="/application/account/logout"><i
									class="glyphicon glyphicon-log-out"></i>&nbsp;Thoát</a></li>
                                                                                                </ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="navbar navbar-default background-orange">
				<!--                 <div class="navbar navbar-inverse"> -->
				<ul class="nav navbar-nav">
					<li class=""><a href="/"><i
							class="glyphicon glyphicon-home"></i>&nbsp;Trang chủ</a></li>
					<li><a
						href="/application/index/about">Giới
							thiệu</a></li>
					<li><a
						href="/application/news/list">Tin
							tức</a></li>
					<li class="dropdown"><a href="#">Dịch vụ <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a
								href="/application/service/write">Viết
									Kịch Bản</a></li>
							<li><a
								href="/application/service/marketing">Online
									Marketing</a></li>
							<li><a
								href="/application/service/pr">Viết
									Bài PR</a></li>
							<li><a
								href="/application/service/collaborator">Cộng
									tác viên đa năng</a></li>
						</ul></li>
					<li class="dropdown"><a href="#">Gian hàng<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a
								href="/application/product/list">Gian
									Hàng Thường</a></li>
							<li><a
								href="/application/product/countdown">Gian
									Hàng Đếm Ngược</a></li>
						</ul></li>
					<li><a href="/khuyen-mai.html">Khuyến mãi</a></li>
					<li><a
						href="/application/index/contact">Liên
							hệ</a></li>
				</ul>
				<div class="col-sm-3 col-md-3 col-lg-3 pull-right">
					<form class="navbar-form" role="search"
						action="/application/product/search">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Tìm kiếm"
								name="search" id="srch-term"
								value="">
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container">
                <div class="row">
    <h1 class="text-center">Giỏ hàng</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th>Tên sản phẩm</th>
			<th>Số lượng</th>
			<th>Giá</th>
			<th>Thành tiền</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
			<tr>
			<td><img src="/img/product/1396758773_5340d8f5b8fa4.png" width="50"  height="50" "alt=""></td>
			<td>Thảo Dược Nhuộm Tóc Vasmol Gold Herbal Benna</td>
			<td>1</td>
			<td>25.000 ₫</td>
			<td>25.000 ₫</td>
			<td>
    		     <a class="btn btn-info"  href="/application/product/addtobasket/16--Thao_Duoc_Nhuom_Toc_Vasmol_Gold_Herbal_Benna.html" >
    		          <i class="glyphicon glyphicon-edit"></i>
    		     </a>
    		     <a class="btn btn-primary" href="/application/product/removeorderitem/26--Thao_Duoc_Nhuom_Toc_Vasmol_Gold_Herbal_Benna.html" >
    		          <i class="glyphicon glyphicon-remove"></i>
    		     </a>
			</td>
		</tr>
    	</tbody>
</table>
<div class="pull-left">
<h3><a href="/application/product/checkoutaddress">Đặt hàng</a></h3>
</div>
<div class="pull-right text-success">
<h3> Tổng số tiền : 25.000 ₫</h3>
</div>
</div>                
<!--                 footer -->
			<!--footer info-->
			<div class="clearfix visible-xs"></div>
			<div class="well voffset2">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6">
						<h3>OvHand là gì?</h3>
						<p class="text-justify text-muted">Chúng tôi chuyên cung cấp các
							sản phẩm, dịch vụ theo tiêu chí tiện lợi, thiết thực và giá cả
							tốt nhất cho quý khách hàng. Với OvHand, mỗi khách hàng là một
							người bạn thâm giao.</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 ovhand-extra-2">
						<h3>Hướng dẫn</h3>
						<ul class="list-unstyled ">
							<li><a
								href="/application/guide/buy">Hướng
									dẫn mua hàng</a></li>
							<li><a
								href="/application/guide/pay">Hướng
									dẫn thanh toán</a></li>
							<li><a
								href="/application/guide/return">Phương
									thức đổi, trả</a></li>
							<li><a
								href="/application/guide/support">Hỗ
									trợ khách hàng</a></li>
							<li>
								<a href="/application/guide/maintain">
									Chính sách bảo hành
								</a>
							</li>
							<li>
								<a href="/application/guide/payback">
									Chính sách đổi/trả hàng và hoàn tiền
								</a>
							</li>
							<li>
								<a href="/application/guide/security">
									Chính sách bảo mật thông tin 
								</a>
							</li>
							<li>
								<a href="/application/guide/owner">
									Chủ sở hữu website 
								</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 ovhand-extra-3">
						<h3>Liên lạc với OvHand</h3>
						<ul class="list-unstyled">
							<li><span class="glyphicon glyphicon-envelope"></span>&nbsp;contact@ovhand.com</li>
							<li><span class="glyphicon glyphicon-phone"></span>&nbsp;0909.524.879</li>
							<li><span class="glyphicon glyphicon-info-sign"></span>&nbsp;120/86A/26 Thích Quảng Đức, Phường 5, Q. Phú Nhuận, TP.HCM</li>
						</ul>

					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
						<h3>Hỗ trợ trực tuyến</h3>
						<ul class="list-unstyled">
							<li><a href="skype:danhvvx?chat"> <img
									src="/img/chatbutton_16px.png" />
							</a> <a href="ymsgr:sendim?danhvvx"
								style="text-decoration: none"> <img border=0
									src="http://mail.opi.yahoo.com/online?u=danhvvx&m=g&t=1">
							</a></li>
						</ul>
						<h3>Facebook</h3>
                        <a href="https://www.facebook.com/ovhand" data-toggle="tooltip" data-placement="top" title="OvHand Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
				</div>
			</div>
		</div>
		<!--container-->
	</div>
	<!--content-->


	<div id="footer">
		<div class="container">
			<p class="text-muted text-center">
				&copy;2014 bản quyền thuộc về Ovhand. Website đã được làm bởi <a
					href='mailto:nguyenloi85@gmail.com'>nguyenloi85</a>
			</p>
		</div>
	</div>
        <!--[if lt IE 9]><script type="text/javascript" src="/js/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script type="text/javascript" src="/js/respond.min.js"></script><![endif]-->
<script type="text/javascript" src="/js/holder.js"></script>
<script type="text/javascript" src="/js/ovhand.min.js"></script>                <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-50129437-1', 'ovhand.com');
            ga('send', 'pageview');
        </script>
</body>
</html>
