
<!DOCTYPE html><html lang="en">
<head>
<meta charset="utf-8">
<meta name="robots" content="index, follow">
<meta name="keywords" content="ovhand, ovhand group, ovhand, kich ban, viet kich ban, online marketing, seeding, forum seeding, quản lý fanpage, viet bai pr, quang cao, social marketing, tieu pham van nghe">
<meta name="description" content="OvHand Group, chuyên viết kịch bản tiểu phẩm văn nghệ, viết bài pr quảng cáo, online marketing, forum seeding, quản lý Fanpage, sinh viên, gia sư, phát tờ rơi">
<meta name="author" content="OvHand">
<meta name="country" content="VN">
<meta name="web_author" content="nguyenloi85 ">
                <title>OvHand - Kết Nối Từ Đôi Tay</title>                <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">        <link href="css/ovhand.min.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/ovhand-theme.min.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/style.css" media="screen" rel="stylesheet" type="text/css">
<link href="/img/ico/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
<script type="text/javascript" src="js/jquery.min.js"></script>
								    </head>
<body>
                <div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-lg-3 logo">
					<a href="/"><img
						src="/img/logo90.png" /></a>
				</div>
				<div class="col-md-9 col-sm-8 col-lg-9">
					<div class="pull-right">
						<ul class="nav nav-pills">
							<li class="active"><a href="#"><i
									class="glyphicon glyphicon-phone"></i>&nbsp;Hotline : 0909.524.879</a></li>
							<li><a
								href="/application/product/showcart"><i
									class="glyphicon glyphicon-shopping-cart"></i>&nbsp;Giỏ hàng</a></li>
                                                                <li><a href="/application/account/login"><i
									class="glyphicon glyphicon-log-in"></i>&nbsp;Đăng nhập</a></li>
							<li><a href="/application/account/register"><i
									class="glyphicon glyphicon-user"></i>&nbsp;Đăng ký</a></li>
                                                            </ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="navbar navbar-default background-orange">
				<!--                 <div class="navbar navbar-inverse"> -->
				<ul class="nav navbar-nav">
					<li class=""><a href="/"><i
							class="glyphicon glyphicon-home"></i>&nbsp;Trang chủ</a></li>
					<li><a
						href="/application/index/about">Giới
							thiệu</a></li>
					<li><a
						href="/application/news/list">Tin
							tức</a></li>
					<li class="dropdown"><a href="#">Dịch vụ <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a
								href="/application/service/write">Viết
									Kịch Bản</a></li>
							<li><a
								href="/application/service/marketing">Online
									Marketing</a></li>
							<li><a
								href="/application/service/pr">Viết
									Bài PR</a></li>
							<li><a
								href="/application/service/collaborator">Cộng
									tác viên đa năng</a></li>
						</ul></li>
					<li class="dropdown"><a href="#">Gian hàng<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a
								href="/application/product/list">Gian
									Hàng Thường</a></li>
							<li><a
								href="/application/product/countdown">Gian
									Hàng Đếm Ngược</a></li>
						</ul></li>
					<li><a href="/khuyen-mai.html">Khuyến mãi</a></li>
					<li><a
						href="/application/index/contact">Liên
							hệ</a></li>
				</ul>
				<div class="col-sm-3 col-md-3 col-lg-3 pull-right">
					<form class="navbar-form" role="search"
						action="/application/product/search">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Tìm kiếm"
								name="search" id="srch-term"
								value="">
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container">
                <div class="image-slide thumbnail">
    <div id="carousel-slideshow-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
                                <li data-target="#carousel-slideshow-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-slideshow-generic" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-slideshow-generic" data-slide-to="2" class=""></li>
                                <li data-target="#carousel-slideshow-generic" data-slide-to="3" class=""></li>
                            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                                     <div class="item  active">
                     	<a href="" target="_blank">
                            <img src="/img/slideshow/1396249907_533915337b01e.jpg" width="1140" height="400" alt="Content marketi">
                        </a>
                     </div>
                                     <div class="item ">
                     	<a href="" target="_blank">
                            <img src="/img/slideshow/1396261072_533940d028d2d.png" width="1140" height="400" alt="KICH BAN">
                        </a>
                     </div>
                                     <div class="item ">
                     	<a href="http://www.bongdaso.com/news.aspx" target="_blank">
                            <img src="/img/slideshow/1396265048_5339505899bcb.jpg" width="1140" height="400" alt="copywriter">
                        </a>
                     </div>
                                     <div class="item ">
                     	<a href="" target="_blank">
                            <img src="/img/slideshow/1396265377_533951a1938d5.png" width="1140" height="400" alt="CTV da nang">
                        </a>
                     </div>
                            </div>  
        
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-slideshow-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-slideshow-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div><div class="row">
    <h1 class="text-center slogan"><img src="img/slogan.png" /></h1>
    <div class="col-md-2 col-md-offset-1 text-center">
        <a href="/application/service/write"> <img class="img-circle "
                                      src="/img/vietkichban.png" width="128"
                                      height="128">
        </a>
        <h4 class="">
            <a href="/application/service/write" class=" ">Viết kịch bản</a>
        </h4>
    </div>
    <div class="col-md-2 text-center">
        <a href="/application/service/marketing"> <img class="img-circle"
                                      src="/img/onlinemarketing.png"
                                      width="128" height="128">
        </a>
        <h4 class="">
            <a href="/application/service/marketing" class="">Online marketing</a>
        </h4>
    </div>
    <div class="col-md-2 text-center">
        <a href="/application/service/pr"> <img class="img-circle"
                                      src="/img/vietbaipr.png" width="128"
                                      height="128">
        </a>
        <h4 class="text-center text-center">
            <a href="/application/service/pr" class="">Viết bài PR</a>
        </h4>
    </div>
    <div class="col-md-2 text-center">
        <a href="/application/product/list"> <img class="img-circle"
                                      src="/img/gianhangtructuyen.png" width="128"
                                      height="128">
        </a>
        <h4 class="">
            <a href="/application/product/list" class="">Gian hàng trực tuyến</a>
        </h4>
    </div>
    <div class="col-md-2 text-center">
        <a href="/application/service/collaborator"> <img class="img-circle"
                                      src="/img/congtacvien.png" width="128"
                                      height="128">
        </a>
        <h4 class="">
            <a href="/application/service/collaborator" class="">Cộng tác viên đa năng</a>
        </h4>
    </div>
</div>
<div class="row">
    <h1 class="text-center text-color-orange">SẢN PHẨM KHUYẾN MÃI&nbsp;<img src="img/Hot.gif" /></h1>
        	  
                     <div class="row">
                 
    			<div class="col-md-3 col-lg-3 col-sm-3">
    				<div class="thumbnail " >
 
    				    <div class="myhovercontent">
							
    					   <img class="text-center" src="/img/product/thumbnail/1396362201_533acbd925219.PNG"   height="150" "alt="">
						   
    					       					   		<div class="discount_star">-37%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/13--Dong_Ho_Led_Trai_Tim_Skmei.html">
    												</a>
    					</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/13--Dong_Ho_Led_Trai_Tim_Skmei.html">
    					           Đồng Hồ Led Trái Tim Skmei    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/13--Dong_Ho_Led_Trai_Tim_Skmei.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >350.000 ₫</strike><br />
    							     <span class="text-info"><strong>219.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    				
    			</div>
    			 
    		       	 
    			<div class="col-md-3 col-lg-3 col-sm-3">
    				<div class="thumbnail " >
 
    				    <div class="myhovercontent">
							
    					   <img class="text-center" src="/img/product/thumbnail/1396758773_5340d8f5b8fa4.png"   height="150" "alt="">
						   
    					       					   		<div class="discount_star">-29%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/16--Thao_Duoc_Nhuom_Toc_Vasmol_Gold_Herbal_Benna.html">
    												</a>
    					</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/16--Thao_Duoc_Nhuom_Toc_Vasmol_Gold_Herbal_Benna.html">
    					           Thảo Dược Nhuộm Tóc Vasmol Gold Herbal Benna    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/16--Thao_Duoc_Nhuom_Toc_Vasmol_Gold_Herbal_Benna.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >35.000 ₫</strike><br />
    							     <span class="text-info"><strong>25.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    				
    			</div>
    			 
    		       	 
    			<div class="col-md-3 col-lg-3 col-sm-3">
    				<div class="thumbnail " >
 
    				    <div class="myhovercontent">
							
    					   <img class="text-center" src="/img/product/thumbnail/1396532269_533d642de398f.jpg"   height="150" "alt="">
						   
    					       					   		<div class="discount_star">-52%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/19--Dong_ho_Jelly_Color_Block.html">
    												</a>
    					</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/19--Dong_ho_Jelly_Color_Block.html">
    					           Đồng hồ Jelly Color Block    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/19--Dong_ho_Jelly_Color_Block.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >185.000 ₫</strike><br />
    							     <span class="text-info"><strong>89.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    				
    			</div>
    			 
    		       	 
    			<div class="col-md-3 col-lg-3 col-sm-3">
    				<div class="thumbnail " >
 
    				    <div class="myhovercontent">
							
    					   <img class="text-center" src="/img/product/thumbnail/1396532911_533d66af10478.jpg"   height="150" "alt="">
						   
    					       					   		<div class="discount_star">-53%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/21--Dong_ho_Ice_Watch.html">
    												</a>
    					</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/21--Dong_ho_Ice_Watch.html">
    					           Đồng hồ Ice Watch    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/21--Dong_ho_Ice_Watch.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >190.000 ₫</strike><br />
    							     <span class="text-info"><strong>89.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    				
    			</div>
    			  
                     </div>
                 
    		       	  
                     <div class="row">
                 
    			<div class="col-md-3 col-lg-3 col-sm-3">
    				<div class="thumbnail " >
 
    				    <div class="myhovercontent">
							
    					   <img class="text-center" src="/img/product/thumbnail/1396533425_533d68b1e6c18.jpg"   height="150" "alt="">
						   
    					       					   		<div class="discount_star">-56%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/22--Dong_ho_Sinobi_Ngoc_Trai_.html">
    												</a>
    					</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/22--Dong_ho_Sinobi_Ngoc_Trai_.html">
    					           Đồng hồ Sinobi Ngọc Trai     					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/22--Dong_ho_Sinobi_Ngoc_Trai_.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >450.000 ₫</strike><br />
    							     <span class="text-info"><strong>199.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    				
    			</div>
    			 
    		       	 
    			<div class="col-md-3 col-lg-3 col-sm-3">
    				<div class="thumbnail " >
 
    				    <div class="myhovercontent">
							
    					   <img class="text-center" src="/img/product/thumbnail/1396696396_533fe54ca0ab3.jpg"   height="150" "alt="">
						   
    					       					   		<div class="discount_star">-59%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/26--Dong_Ho_CK_Nu.html">
    												</a>
    					</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/26--Dong_Ho_CK_Nu.html">
    					           Đồng Hồ CK Nữ    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/26--Dong_Ho_CK_Nu.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >360.000 ₫</strike><br />
    							     <span class="text-info"><strong>149.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    				
    			</div>
    			 
    		       	 
    			<div class="col-md-3 col-lg-3 col-sm-3">
    				<div class="thumbnail " >
 
    				    <div class="myhovercontent">
							
    					   <img class="text-center" src="/img/product/thumbnail/1396752506_5340c07a1c231.jpg"   height="150" "alt="">
						   
    					       					   		<div class="discount_star">-50%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/35--Dong_Ho_Led_Skmei_Nam.html">
    												</a>
    					</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/35--Dong_Ho_Led_Skmei_Nam.html">
    					           Đồng Hồ Led Skmei Nam    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/35--Dong_Ho_Led_Skmei_Nam.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >500.000 ₫</strike><br />
    							     <span class="text-info"><strong>249.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    				
    			</div>
    			 
    		       	 
    			<div class="col-md-3 col-lg-3 col-sm-3">
    				<div class="thumbnail " >
 
    				    <div class="myhovercontent">
							
    					   <img class="text-center" src="/img/product/thumbnail/1396752890_5340c1fae2a4b.jpg"   height="150" "alt="">
						   
    					       					   		<div class="discount_star">-50%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/36--Dong_Ho_Curren_Day_Da.html">
    												</a>
    					</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/36--Dong_Ho_Curren_Day_Da.html">
    					           Đồng Hồ Curren Dây Da    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/36--Dong_Ho_Curren_Day_Da.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >500.000 ₫</strike><br />
    							     <span class="text-info"><strong>250.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    				
    			</div>
    			  
                     </div>
                 
    		       	  
                     <div class="row">
                 
    			<div class="col-md-3 col-lg-3 col-sm-3">
    				<div class="thumbnail " >
 
    				    <div class="myhovercontent">
							
    					   <img class="text-center" src="/img/product/thumbnail/1396754825_5340c989c5575.jpg"   height="150" "alt="">
						   
    					       					   		<div class="discount_star">-34%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/40--Dong_Ho_Led_Samurai.html">
    												</a>
    					</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/40--Dong_Ho_Led_Samurai.html">
    					           Đồng Hồ Led Samurai    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/40--Dong_Ho_Led_Samurai.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >180.000 ₫</strike><br />
    							     <span class="text-info"><strong>119.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    				
    			</div>
    			 
    		       	 
    			<div class="col-md-3 col-lg-3 col-sm-3">
    				<div class="thumbnail " >
 
    				    <div class="myhovercontent">
							
    					   <img class="text-center" src="/img/product/thumbnail/1396755612_5340cc9cd1a0c.jpg"   height="150" "alt="">
						   
    					       					   		<div class="discount_star">-50%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/41--Dong_Ho_Hai_Mui_Gio_.html">
    												</a>
    					</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/41--Dong_Ho_Hai_Mui_Gio_.html">
    					           Đồng Hồ Hai Múi Giờ     					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/41--Dong_Ho_Hai_Mui_Gio_.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >360.000 ₫</strike><br />
    							     <span class="text-info"><strong>179.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    				
    			</div>
    			 
    		       	 
    			<div class="col-md-3 col-lg-3 col-sm-3">
    				<div class="thumbnail " >
 
    				    <div class="myhovercontent">
							
    					   <img class="text-center" src="/img/product/thumbnail/1396771577_53410af9394cb.jpg"   height="150" "alt="">
						   
    					       					   		<div class="discount_star">-57%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/47--Dong_Ho_Kimio_Vong_Tay.html">
    												</a>
    					</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/47--Dong_Ho_Kimio_Vong_Tay.html">
    					           Đồng Hồ Kimio Vòng Tay    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/47--Dong_Ho_Kimio_Vong_Tay.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >390.000 ₫</strike><br />
    							     <span class="text-info"><strong>169.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    				
    			</div>
    			 
    		       	 
    			<div class="col-md-3 col-lg-3 col-sm-3">
    				<div class="thumbnail " >
 
    				    <div class="myhovercontent">
							
    					   <img class="text-center" src="/img/product/thumbnail/1396769998_534104ce19238.jpg"   height="150" "alt="">
						   
    					       					   		<div class="discount_star">-55%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/48--Dong_ho_nam_Sinobi_L001.html">
    												</a>
    					</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/48--Dong_ho_nam_Sinobi_L001.html">
    					           Đồng hồ nam Sinobi L001    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/48--Dong_ho_nam_Sinobi_L001.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >550.000 ₫</strike><br />
    							     <span class="text-info"><strong>250.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    				
    			</div>
    			  
                     </div>
                 
    		       	  
                     <div class="row">
                 
    			<div class="col-md-3 col-lg-3 col-sm-3">
    				<div class="thumbnail " >
 
    				    <div class="myhovercontent">
							
    					   <img class="text-center" src="/img/product/thumbnail/1396770307_53410603afede.JPG"   height="150" "alt="">
						   
    					       					   		<div class="discount_star">-30%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/49--Dong_ho_Led_Sumurai_M003.html">
    												</a>
    					</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/49--Dong_ho_Led_Sumurai_M003.html">
    					           Đồng hồ Led Sumurai M003    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/49--Dong_ho_Led_Sumurai_M003.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >500.000 ₫</strike><br />
    							     <span class="text-info"><strong>349.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    				
    			</div>
    			 
    		       	 
    			<div class="col-md-3 col-lg-3 col-sm-3">
    				<div class="thumbnail " >
 
    				    <div class="myhovercontent">
							
    					   <img class="text-center" src="/img/product/thumbnail/1396770575_5341070f3c92a.JPG"   height="150" "alt="">
						   
    					       					   		<div class="discount_star">-56%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/50--Dong_ho_S_SHOCK_P001.html">
    												</a>
    					</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/50--Dong_ho_S_SHOCK_P001.html">
    					           Đồng hồ S-SHOCK P001    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/50--Dong_ho_S_SHOCK_P001.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >450.000 ₫</strike><br />
    							     <span class="text-info"><strong>199.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    				
    			</div>
    			 
    		       	 
    			<div class="col-md-3 col-lg-3 col-sm-3">
    				<div class="thumbnail " >
 
    				    <div class="myhovercontent">
							
    					   <img class="text-center" src="/img/product/thumbnail/1396771168_53410960e0784.JPG"   height="150" "alt="">
						   
    					       					   		<div class="discount_star">-29%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/51--Dong_ho_Sinobi_DH30.html">
    												</a>
    					</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/51--Dong_ho_Sinobi_DH30.html">
    					           Đồng hồ Sinobi DH30    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/51--Dong_ho_Sinobi_DH30.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >350.000 ₫</strike><br />
    							     <span class="text-info"><strong>249.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    				
    			</div>
    			 
    		       	 
    			<div class="col-md-3 col-lg-3 col-sm-3">
    				<div class="thumbnail " >
 
    				    <div class="myhovercontent">
							
    					   <img class="text-center" src="/img/product/thumbnail/1400981358_5381476e5164a.jpg"   height="150" "alt="">
						   
    					       					   		<div class="discount_star">-40%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/53--Dong_Ho_Led_Watch_Intercrew.html">
    												</a>
    					</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/53--Dong_Ho_Led_Watch_Intercrew.html">
    					           Đồng Hồ Led Watch Intercrew    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/53--Dong_Ho_Led_Watch_Intercrew.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >250.000 ₫</strike><br />
    							     <span class="text-info"><strong>150.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    				
    			</div>
    			  
                     </div>
                 
    		   </div> <!--san pham khuyen mai hot row-->
<div class="row">
    <div id="product-sidebar" class="col-md-3 col-lg-3 col-sm-3">
        <div class="navbar navbar-default background-orange">
	<ul class="nav nav-stacked">
	   	           <li class="dropdown  dropdown-submenu">
	               <a href="/application/product/list/1--Dong_Ho.html">
	                   Đồng Hồ	               </a>
        			<ul class="dropdown-menu">
        			        				<li><a href="/application/product/list/2--Dong_Ho_Nam_.html">Nam </a></li>
        		            				<li><a href="/application/product/list/3--Dong_Ho_Nu__.html">Nữ   </a></li>
        		            			</ul>
        		</li>
	           	           	   	   	   	   	   	           <li>
    	           <a href="/application/product/list/8--Thoi_Trang.html">
    	               Thời Trang    	           </a>
    	       </li>
	           	           	   	   	           <li>
    	           <a href="/application/product/list/11--Qua_Tang.html">
    	               Qùa Tặng    	           </a>
    	       </li>
	           	           	   	   	           <li>
    	           <a href="/application/product/list/13--My_Pham.html">
    	               Mỹ Phẩm    	           </a>
    	       </li>
	           	           	   	   	           <li>
    	           <a href="/application/product/list/16--Hang_2nd.html">
    	               Hàng 2nd    	           </a>
    	       </li>
	           	           	   	   	</ul>
</div>
    </div>
    <div class="col-lg-9 col-sm-9 col-md-9" id="feature-product">
        <h1 class="text-center text-color-orange">SẢN PHẨM NỔI BẬT</h1>
            	   
                     <div class="row">
                 
    			<div class="col-md-4 col-lg-4 col-sm-4">
    				<div class="thumbnail " >
    				    <div class="myhovercontent">
								<img class="text-center" src="/img/product/thumbnail/1396756614_5340d0862a8f7.jpg"   height="150" "alt="">
	    					       					   		<div class="discount_star">-20%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/8--Dong_ho_Mini_World_MN823.html">
												</a>
						</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/8--Dong_ho_Mini_World_MN823.html">
    					           Đồng hồ Mini World MN823    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/8--Dong_ho_Mini_World_MN823.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >500.000 ₫</strike><br />
    							     <span class="text-info"><strong>399.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    			</div>
    			 	 
    		       	  
    			<div class="col-md-4 col-lg-4 col-sm-4">
    				<div class="thumbnail " >
    				    <div class="myhovercontent">
								<img class="text-center" src="/img/product/thumbnail/1396354034_533aabf23d1c6.jpg"   height="150" "alt="">
	    					       					   		<div class="discount_star">-36%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/9--Dong_ho_Mini_World_1339.html">
												</a>
						</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/9--Dong_ho_Mini_World_1339.html">
    					           Đồng hồ Mini World 1339    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/9--Dong_ho_Mini_World_1339.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >500.000 ₫</strike><br />
    							     <span class="text-info"><strong>320.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    			</div>
    			 	 
    		       	  
    			<div class="col-md-4 col-lg-4 col-sm-4">
    				<div class="thumbnail " >
    				    <div class="myhovercontent">
								<img class="text-center" src="/img/product/thumbnail/1396355819_533ab2eb98fce.jpg"   height="150" "alt="">
	    					       					   		<div class="discount_star">-30%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/10--Dong_ho_Mini_World_Watch_3D.html">
												</a>
						</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/10--Dong_ho_Mini_World_Watch_3D.html">
    					           Đồng hồ Mini World Watch 3D    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/10--Dong_ho_Mini_World_Watch_3D.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >600.000 ₫</strike><br />
    							     <span class="text-info"><strong>419.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    			</div>
    			 	  
                    	</div>
                	 
    		       	   
                     <div class="row">
                 
    			<div class="col-md-4 col-lg-4 col-sm-4">
    				<div class="thumbnail " >
    				    <div class="myhovercontent">
								<img class="text-center" src="/img/product/thumbnail/1396534267_533d6bfb4f212.jpg"   height="150" "alt="">
	    					       					   		<div class="discount_star">-45%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/23--Dong_Ho_3D_MN989.html">
												</a>
						</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/23--Dong_Ho_3D_MN989.html">
    					           Đồng Hồ 3D MN989    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/23--Dong_Ho_3D_MN989.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >580.000 ₫</strike><br />
    							     <span class="text-info"><strong>319.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    			</div>
    			 	 
    		       	  
    			<div class="col-md-4 col-lg-4 col-sm-4">
    				<div class="thumbnail " >
    				    <div class="myhovercontent">
								<img class="text-center" src="/img/product/thumbnail/1396682551_533faf3788512.jpg"   height="150" "alt="">
	    					       					   		<div class="discount_star">-58%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/25--Dong_ho_Sinobi_Nu__DH26.html">
												</a>
						</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/25--Dong_ho_Sinobi_Nu__DH26.html">
    					           Đồng hồ Sinobi Nữ - DH26    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/25--Dong_ho_Sinobi_Nu__DH26.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >450.000 ₫</strike><br />
    							     <span class="text-info"><strong>189.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    			</div>
    			 	 
    		       	  
    			<div class="col-md-4 col-lg-4 col-sm-4">
    				<div class="thumbnail " >
    				    <div class="myhovercontent">
								<img class="text-center" src="/img/product/thumbnail/1396697709_533fea6d17a0e.jpg"   height="150" "alt="">
	    					       					   		<div class="discount_star">-51%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/31--Dong_ho_Vintage_Nu.html">
												</a>
						</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/31--Dong_ho_Vintage_Nu.html">
    					           Đồng hồ Vintage Nữ    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/31--Dong_ho_Vintage_Nu.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >200.000 ₫</strike><br />
    							     <span class="text-info"><strong>99.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    			</div>
    			 	  
                    	</div>
                	 
    		       	   
                     <div class="row">
                 
    			<div class="col-md-4 col-lg-4 col-sm-4">
    				<div class="thumbnail " >
    				    <div class="myhovercontent">
								<img class="text-center" src="/img/product/thumbnail/1396764306_5340ee92e0ae6.jpg"   height="150" "alt="">
	    					       					   		<div class="discount_star">-28%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/32--Dong_Ho_Nu_Sinobi_Day_Da.html">
												</a>
						</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/32--Dong_Ho_Nu_Sinobi_Day_Da.html">
    					           Đồng Hồ Nữ Sinobi Dây Da    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/32--Dong_Ho_Nu_Sinobi_Day_Da.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >250.000 ₫</strike><br />
    							     <span class="text-info"><strong>179.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    			</div>
    			 	 
    		       	  
    			<div class="col-md-4 col-lg-4 col-sm-4">
    				<div class="thumbnail " >
    				    <div class="myhovercontent">
								<img class="text-center" src="/img/product/thumbnail/1396751517_5340bc9d1ba00.jpg"   height="150" "alt="">
	    					       					   		<div class="discount_star">-52%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/34--Dong_Ho_Skmei_Chong_Tham.html">
												</a>
						</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/34--Dong_Ho_Skmei_Chong_Tham.html">
    					           Đồng Hồ Skmei Chống Thấm    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/34--Dong_Ho_Skmei_Chong_Tham.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >500.000 ₫</strike><br />
    							     <span class="text-info"><strong>239.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    			</div>
    			 	 
    		       	  
    			<div class="col-md-4 col-lg-4 col-sm-4">
    				<div class="thumbnail " >
    				    <div class="myhovercontent">
								<img class="text-center" src="/img/product/thumbnail/1396755951_5340cdef07fa5.jpg"   height="150" "alt="">
	    					       					   		<div class="discount_star">-55%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/42--Dong_Ho_Led_Phi_Thuyen_7_Mau,.html">
												</a>
						</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/42--Dong_Ho_Led_Phi_Thuyen_7_Mau,.html">
    					           Đồng Hồ Led Phi Thuyền 7 Màu,    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/42--Dong_Ho_Led_Phi_Thuyen_7_Mau,.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >400.000 ₫</strike><br />
    							     <span class="text-info"><strong>179.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    			</div>
    			 	  
                    	</div>
                	 
    		       	   
                     <div class="row">
                 
    			<div class="col-md-4 col-lg-4 col-sm-4">
    				<div class="thumbnail " >
    				    <div class="myhovercontent">
								<img class="text-center" src="/img/product/thumbnail/1396767822_5340fc4ed4a3e.jpg"   height="150" "alt="">
	    					       					   		<div class="discount_star">-46%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/43--Dong_Ho_Silver_Crown.html">
												</a>
						</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/43--Dong_Ho_Silver_Crown.html">
    					           Đồng Hồ Silver Crown    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/43--Dong_Ho_Silver_Crown.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >350.000 ₫</strike><br />
    							     <span class="text-info"><strong>189.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    			</div>
    			 	 
    		       	  
    			<div class="col-md-4 col-lg-4 col-sm-4">
    				<div class="thumbnail " >
    				    <div class="myhovercontent">
								<img class="text-center" src="/img/product/thumbnail/1396768338_5340fe52d7bd3.jpg"   height="150" "alt="">
	    					       					   		<div class="discount_star">-42%</div>
    					       					</div>
    					<div  class="contenthover">
						<a href="/application/product/detail/44--Dong_ho_Mini_World_MN926.html">
												</a>
						</div>
    					<div class="caption">
    					    <h4 class='text-center text-primary'>
    					       <a href="/application/product/detail/44--Dong_ho_Mini_World_MN926.html">
    					           Đồng hồ Mini World MN926    					       </a>
    					    </h4>
    						<p class="bottom-align">
    							<a href="/application/product/detail/44--Dong_ho_Mini_World_MN926.html" class="btn btn-warning" role="button">
    							 <i class="glyphicon glyphicon-shopping-cart"></i>Mua
    							</a>
    							    							<span class="text-muted pull-right">
    							     <strike >550.000 ₫</strike><br />
    							     <span class="text-info"><strong>319.000 ₫</strong></span>
    							</span>
                                     						</p>
    					</div>
    				</div>
    			</div>
    			 	 
    		       </div>
</div>  <!--end tag div-row category and feature product-->
<!--partner slide-->
<div class="row">
    <h1 class="text-center text-color-orange">ÐỐI TÁC - KHÁCH HÀNG</h1>
    <div class="partner-slide">
                        <div id="carousel-partner-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                                                                                        <li data-target="#carousel-partner-generic" data-slide-to="0"></li>
                                                                                                                                                                                                                                                                                                                                                                                                                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                                                      
                                    <div class="item  active">
                                       
                                            <div class="col-lg-2 col-md-2 col-sm-2">
                                               <div class="thumbnail">
                                                   <a href="http://fptshop.com.vn/"><img src="/img/partner/1396241616_5338f4d04bc5e.jpg" width="170" height="170" alt="FPTShop"></a>
                                               </div>
                                            </div>
                                                               		                                       
                                            <div class="col-lg-2 col-md-2 col-sm-2">
                                               <div class="thumbnail">
                                                   <a href="http://www.oppomobile.vn/"><img src="/img/partner/1396241688_5338f518ade5d.jpg" width="170" height="170" alt="Oppo"></a>
                                               </div>
                                            </div>
                                                               		                                       
                                            <div class="col-lg-2 col-md-2 col-sm-2">
                                               <div class="thumbnail">
                                                   <a href="http://www.toyotalythuongkiet.com.vn/vi-VN/default.cco"><img src="/img/partner/1396241733_5338f545d9f3a.jpg" width="170" height="170" alt="Toyota"></a>
                                               </div>
                                            </div>
                                                               		                                       
                                            <div class="col-lg-2 col-md-2 col-sm-2">
                                               <div class="thumbnail">
                                                   <a href="http://www.ais.edu.vn/index.php/vi"><img src="/img/partner/1396241797_5338f585a622a.JPG" width="170" height="170" alt="AIS Eng"></a>
                                               </div>
                                            </div>
                                                               		                                       
                                            <div class="col-lg-2 col-md-2 col-sm-2">
                                               <div class="thumbnail">
                                                   <a href="http://vicmobi.com/"><img src="/img/partner/1396241869_5338f5cd5f422.png" width="170" height="170" alt="Vicmobi"></a>
                                               </div>
                                            </div>
                                                               		                                       
                                            <div class="col-lg-2 col-md-2 col-sm-2">
                                               <div class="thumbnail">
                                                   <a href="http://skyphone.vn/"><img src="/img/partner/1396772123_53410d1be8501.jpeg" width="170" height="170" alt="Skyphone"></a>
                                               </div>
                                            </div>
                                      
                                    </div>
                                                               		                           		                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control partner-carousel-control-left" href="#carousel-partner-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control  partner-carousel-control-right" href="#carousel-partner-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
</div><!--end partner slide-->

<script type="text/javascript" src="js/jquery.contenthover.min.js"></script><script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/jquery.contenthover.min.js"></script>                
<!--                 footer -->
			<!--footer info-->
			<div class="clearfix visible-xs"></div>
			<div class="well voffset2">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6">
						<h3>OvHand là gì?</h3>
						<p class="text-justify text-muted">Chúng tôi chuyên cung cấp các
							sản phẩm, dịch vụ theo tiêu chí tiện lợi, thiết thực và giá cả
							tốt nhất cho quý khách hàng. Với OvHand, mỗi khách hàng là một
							người bạn thâm giao.</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 ovhand-extra-2">
						<h3>Hướng dẫn</h3>
						<ul class="list-unstyled ">
							<li><a
								href="/application/guide/buy">Hướng
									dẫn mua hàng</a></li>
							<li><a
								href="/application/guide/pay">Hướng
									dẫn thanh toán</a></li>
							<li><a
								href="/application/guide/return">Phương
									thức đổi, trả</a></li>
							<li><a
								href="/application/guide/support">Hỗ
									trợ khách hàng</a></li>
							<li>
								<a href="/application/guide/maintain">
									Chính sách bảo hành
								</a>
							</li>
							<li>
								<a href="/application/guide/payback">
									Chính sách đổi/trả hàng và hoàn tiền
								</a>
							</li>
							<li>
								<a href="/application/guide/security">
									Chính sách bảo mật thông tin 
								</a>
							</li>
							<li>
								<a href="/application/guide/owner">
									Chủ sở hữu website 
								</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 ovhand-extra-3">
						<h3>Liên lạc với OvHand</h3>
						<ul class="list-unstyled">
							<li><span class="glyphicon glyphicon-envelope"></span>&nbsp;contact@ovhand.com</li>
							<li><span class="glyphicon glyphicon-phone"></span>&nbsp;0909.524.879</li>
							<li><span class="glyphicon glyphicon-info-sign"></span>&nbsp;120/86A/26 Thích Quảng Đức, Phường 5, Q. Phú Nhuận, TP.HCM</li>
						</ul>

					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
						<h3>Hỗ trợ trực tuyến</h3>
						<ul class="list-unstyled">
							<li><a href="skype:danhvvx?chat"> <img
									src="/img/chatbutton_16px.png" />
							</a> <a href="ymsgr:sendim?danhvvx"
								style="text-decoration: none"> <img border=0
									src="http://mail.opi.yahoo.com/online?u=danhvvx&m=g&t=1">
							</a></li>
						</ul>
						<h3>Facebook</h3>
                        <a href="https://www.facebook.com/ovhand" data-toggle="tooltip" data-placement="top" title="OvHand Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
				</div>
			</div>
		</div>
		<!--container-->
	</div>
	<!--content-->


	<div id="footer">
		<div class="container">
			<p class="text-muted text-center">
				&copy;2014 bản quyền thuộc về Ovhand. Website đã được làm bởi <a
					href='mailto:nguyenloi85@gmail.com'>nguyenloi85</a>
			</p>
		</div>
	</div>
        <!--[if lt IE 9]><script type="text/javascript" src="/js/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script type="text/javascript" src="/js/respond.min.js"></script><![endif]-->
<script type="text/javascript" src="js/holder.js"></script>
<script type="text/javascript" src="js/ovhand.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/jquery.contenthover.min.js"></script>                <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-50129437-1', 'ovhand.com');
            ga('send', 'pageview');
        </script>
</body>
</html>
